html,
body {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    scrollbar-width: none;
    background-color: rgb(200, 200, 200);
}

* {
    /* border: 1px solid red; */
}

.white-box {
    position: absolute;
    top: 2vh;
    height: 90vh;
    width: 90vh;
    background-color: white;
    border: 2vh solid black;
}

.black-box {
    position: absolute;
    top: 2vh;
    height: 90vh;
    width: 90vh;
    background-color: black;
    border: 2vh solid black;
}

.bottom-border {
    position: absolute;
    height: 4vh;
    width: 90vh;
    background-color: rgb(200, 200, 200);
    z-index: -1;
}

.corner-number {
    height: fit-content;
    width: fit-content;
    margin: 10px;
    margin-left: 10px;
    font-size: 4vh;
}

.title {
    margin: 30px;
    font-weight: 500;
    text-indent: 3vh;
    font-size: 5vh;
}

.box-content {
    height: max-content;
    text-indent: 2vh;
    margin: auto;
    max-width: 70%;
    line-height: 3vh;
    font-size: 2vh;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-image-center {
    display: flex;
    justify-content: center;
}

.center-vertical-box {
    align-content: center;
}

.split-vertical-box {
    height: max-content;
    text-indent: 2vh;
    line-height: 3vh;
    font-size: 2vh;

    min-height: fit-content;
    width: 90%;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
}

img {
    width: auto;
    height: 40vh;
    /* pointer-events: none; */
}