html,
body {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    scrollbar-width: none;
    background-color: rgb(200, 200, 200);
}

* {
    /* border: 1px solid red; */
}

.white-box {
    position: absolute;
    top: 2vh;
    height: 90vh;
    width: 90vh;
    background-color: white;
    border: 2vh solid black;
}

.black-box {
    position: absolute;
    top: 2vh;
    height: 90vh;
    width: 90vh;
    background-color: black;
    border: 2vh solid black;
}

.bottom-border {
    position: absolute;
    height: 4vh;
    width: 90vh;
    background-color: rgb(200, 200, 200);
    z-index: -1;
}

.corner-number {
    height: fit-content;
    width: fit-content;
    margin: 1vh;
    margin-left: 1vh;
    font-size: 4vh;
}

.title {
    margin: 3vh;
    font-weight: 500;
    text-indent: 3vh;
    font-size: 5vh;
}

.box-content {
    height: max-content;
    text-indent: 2vh;
    margin: auto;
    max-width: 70%;
    line-height: 3vh;
    font-size: 2vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.box-image-center {
    display: flex;
    justify-content: center;
}

.center-vertical-box {
    align-content: center;
}

.split-vertical-box {
    height: max-content;
    text-indent: 2vh;
    line-height: 3vh;
    font-size: 2vh;

    min-height: fit-content;
    width: 90%;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
}

img {
    width: auto;
    height: 40vh;
    /* pointer-events: none; */
}

.underline {
    background-image: url(../illustrator/highlight.svg);
    background-size: 0% auto;
    background-repeat: no-repeat;

    transition: background-size 1.5s ease-in-out;
}

.highlight-animation{
    background-size: 100% auto;
}

.title-underline {
    text-decoration: underline;
    text-decoration-color: rgb(133, 200, 255, 0.5);
    text-decoration-thickness: 2.2vh;
    text-underline-offset: -1.1vh;
    text-decoration-skip-ink: none;
}

sup{
    vertical-align: top;
    position: relative;
    top: -0.5vh;
}

.tooltip{
    position: absolute;
    visibility: hidden;
    font-size: 1.2vh; 
    min-width: 10vh;
    width: 20vh;
    height: auto;
    padding: 1vh;
    padding-left: 2vh;
    z-index: 1;
    background-color: white;
    border-radius: 2vh;
    border: #FFDA00 solid 0.3vh;
    
    opacity: 100%;
    transition: opacity 0.5s ease-in-out;
}

.fade-opacity{
    opacity: 0%;
}

ol{
    padding-left: 3vh;
}

li {
   padding-left: 2vh;
}


.link{
    color: black;
    text-decoration: underline;
    /* text-decoration-style: double; */
    text-decoration-color: #85C8FF;
    text-decoration-thickness: 0.3vh;
    text-decoration-skip-ink: all;
}